.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@font-face {
  font-family: "apercuregular";
  src: url("fonts/apercu_regular-webfont.woff2") format("woff2"),
    url("fonts/apercu_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "aperculight";
  src: url("fonts/apercu_light-webfont.woff2") format("woff2"),
    url("fonts/apercu_light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "apercu_monoregular";
  src: url("fonts/apercu_mono-webfont.woff2") format("woff2"),
    url("fonts/apercu_mono-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: "apercuregular";
}

h2 {
  font-family: "apercuregular";
  font-weight: 400;
  font-size: 20px;
}

h3 {
  font-family: "apercuregular";
  font-weight: 400;
}

h4 {
  font-family: "apercuregular";
  font-size: 16px;
  font-weight: 400;
  color: #666666;
}

h5 {
  font-family: "apercuregular";
}

p {
  font-family: "aperculight";
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#order-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#order-form-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ray-text-area {
  border: 0.0625rem solid #666;
  background-color: #fff;
  border-radius: 0.25rem;
  position: relative;
  height: 3.5rem;
  width: 300px;
  display: flex;
  flex-direction: row;
  /* justify-content: center;
  align-items: center; */
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.selector {
  /* -webkit-appearance: none;
  -moz-appearance: none; */
  /* appearance: none; */
  font-family: inherit;
  border-radius: 0.25rem;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  display: block;
  background-color: transparent;
  padding: 0 1.75rem 0 0.75rem;
  outline: 0;
  border: 0;
  cursor: pointer;
  /* color: rgba(0, 0, 0, 0); */
}

input[type="text"] {
  /* font-family: "Apercu Mono", SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace; */
  font-size: 1rem;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#order-submit-button {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  display: flex;
  border: 0.0625rem solid blue;
  font-family: "Apercu Mono", SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  background-color: blue;
  color: white;
  border-radius: 0.25rem;
  cursor: pointer;
  padding: 1.1875rem 1.4375rem;
  white-space: nowrap;
  text-align: center;
  vertical-align: bottom;
  margin-top: 20px;
}

#order-submit-button-disabled {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  display: flex;
  border: 0.0625rem solid grey;
  font-family: "Apercu Mono", SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  background-color: grey;
  color: white;
  border-radius: 0.25rem;
  cursor: pointer;
  padding: 1.1875rem 1.4375rem;
  white-space: nowrap;
  text-align: center;
  vertical-align: bottom;
  margin-top: 20px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 15px;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  margin-right: 1rem;
  padding: 1rem;
  padding-right: 2rem;
}

#form,
#main-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#logo {
  width: 148px;
  height: 33px;
  background-image: url("./logo.png");
  background-size: contain;
  background-repeat: none;
  margin-top: 40px;
  margin-bottom: 10px;
}

#order-title {
  margin-bottom: 0px;
}

.order-card {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 800px;
  height: 200px;
  /* padding: 1.5rem 1rem; */
  border-top: 0.0625rem solid #e3e3e3;
  border-left: 0.0625rem solid #e3e3e3;
  border-right: 0.0625rem solid #e3e3e3;
  border-bottom: 0.0625rem solid #e3e3e3;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.done-button {
  /* position: absolute; */
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1;
  display: flex;
  border: 0.0625rem solid blue;
  font-family: "Apercu Mono", SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  background-color: blue;
  color: white;
  border-bottom-right-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  cursor: pointer;
  padding: 45px;
  white-space: nowrap;
  text-align: center !important;
  vertical-align: bottom;
  width: 150px;
  height: 200px;
}

.order-content {
  /* background-color: grey; */
  width: 600px;
  height: 160px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.order-type {
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: left;
  font-size: 35px;
}

.order-name {
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: left;
  font-size: 25px;
}

#admin-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
}

.admin-text-area {
  border: 0.0625rem solid #666;
  background-color: #fff;
  border-radius: 0.25rem;
  position: relative;
  height: 3.5rem;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

#admin-edit-coffee {
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: stretch;
  margin-left: 12vw;
  margin-right: 12vw;
  margin-bottom: 30px;
}

.admin-add-button {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  display: flex;
  border: 0.0625rem solid blue;
  font-family: "Apercu Mono", SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  background-color: blue;
  color: white;
  border-radius: 0.25rem;
  cursor: pointer;
  padding-left: 44px;
  white-space: nowrap;
  text-align: center !important;
  vertical-align: bottom;
  width: 120px;
  height: 3.5rem;
  margin-left: 20px;
}

.with-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

#coffee-icon {
  width: 100px;
  height: 100px;
  background-image: url("./images/coffee.png");
  background-size: contain;
  margin-bottom: 30px;
}

#milk-icon {
  width: 100px;
  height: 100px;
  background-image: url("./images/milk.png");
  background-size: contain;
  margin-bottom: 30px;
}

.add-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
}

.delete-items {
}

.edit-item-name {
  text-align: left;
}

#spacer {
  width: 100vw;
  height: 50px;
}

.delete-items {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.delete-button {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1;
  display: flex;
  border: 0.0625rem solid red;
  font-family: "Apercu Mono", SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  background-color: white;
  color: red;
  border-radius: 0.25rem;
  cursor: pointer;
  padding-left: 17px;
  white-space: nowrap;
  text-align: center !important;
  vertical-align: bottom;
  width: 80px;
  height: 2.5rem;
  margin-left: 20px;
}

.delete-button:hover {
  background-color: rgba(255, 0, 0, 0.226);
}

#with-autocomplete {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

#autocomplete-container {
  display: flex;
  justify-content: flex-start;
}

#search-list {
  position: absolute;
  background-color: #fff;
  border-radius: 4px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 55px;
  max-width: 302px;
  margin-left: 15px;
  left: -16px;
  right: -16px;
  height: auto;
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);
}

li {
  list-style-type: none;
  font-family: "Apercu", SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  font-size: 25px;
  height: 50px;
  padding-left: 20px;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
}

li:hover {
  /* background-color: #dbdbdb; */
  color: white;
  background-color: blue;
}

@media only screen and (max-width: 768px) {
  .order-card {
    width: 90%;
  }
  #admin-edit-coffee {
    margin-left: 10px;
    margin-right: 10px;
    width: 90vw !important;
    flex-direction: row !important;
    align-items: flex-start !important;
    justify-content: center;
  }
  #admin-body {
    width: 100% !important;
    flex-direction: column !important;
    align-items: center !important;
  }
}

@media only screen and (max-width: 841px) {
  #admin-edit-coffee {
    margin-left: 10px;
    margin-right: 10px;
    width: 90vw !important;
    flex-direction: row !important;
    align-items: flex-start !important;
    justify-content: center;
  }
  #admin-body {
    width: 100% !important;
    flex-direction: column !important;
    align-items: center !important;
  }
}

@media only screen and (max-width: 950px) {
  #admin-edit-coffee {
    margin-left: 10px;
    margin-right: 10px;
    width: 90vw !important;
    flex-direction: row !important;
    align-items: flex-start !important;
    justify-content: center;
  }
  #admin-body {
    width: 100% !important;
    flex-direction: column !important;
    align-items: center !important;
  }
}

@media only screen and (max-width: 1280px) {
  #admin-edit-coffee {
    margin-left: 5vw;
    margin-right: 5vw;
  }
}
/* @media only screen and (max-width: 1024px) {
  #admin-body {
    width: 980px !important;
  }
} */

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
  .order-card {
    width: 80%;
  }
  .order-content {
    margin-left: 20px;
  }
  .order-type {
    font-size: 20px !important;
  }
  .order-name {
    font-size: 15px !important;
  }
  #admin-edit-coffee {
    margin-left: 10px;
    margin-right: 10px;
    width: 90vw !important;
  }
  #admin-body {
    width: 100vw !important;
    flex-direction: column;
    align-items: center;
  }
  .admin-add-button {
    padding-left: 34px;
  }
  .delete-items {
    width: 300px;
  }
}

@media only screen and (min-device-width: 360px) and (max-device-width: 640px) and (-webkit-device-pixel-ratio: 4) and (orientation: portrait) {
  #admin-edit-coffee {
    margin-left: 10px;
    margin-right: 10px;
    width: 90vw !important;
  }
  #admin-body {
    width: 100vw !important;
    flex-direction: column;
    align-items: center;
  }
  .admin-add-button {
    padding-left: 34px;
  }
  .delete-items {
    width: 300px;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-device-pixel-ratio: 4) and (orientation: portrait) {
  #admin-edit-coffee {
    margin-left: 10px;
    margin-right: 10px;
    width: 90vw !important;
  }
  #admin-body {
    width: 100vw !important;
    flex-direction: column;
    align-items: center;
  }
  .admin-add-button {
    padding-left: 34px;
  }
  .delete-items {
    width: 300px;
  }
}
